org.gocom.abframe.org/src/org/gocom/abframe/org/userManageIntfcaeService_import1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:nns="http://www.primeton.com/userManageIntfcaeService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="userManageIntfcaeServiceService" targetNamespace="http://www.primeton.com/userManageIntfcaeService">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.primeton.com/userManageIntfcaeService">
      <xsd:element name="changeUserId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="oldId" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="newId" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changeUserIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="retcode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="retmsg" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userId" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="retcode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="retmsg" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userid" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="username" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="phonenumber" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="retcode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="retmsg" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userid" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="username" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="phonenumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="isauthorized" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="retcode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="retmsg" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserSql">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element maxOccurs="1" minOccurs="0" name="retcode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="retmsg" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateUserSqlResponse">
        <xsd:complexType>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateUserInfo">
    <wsdl:part element="nns:updateUserInfo" name="updateUserInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeUserId">
    <wsdl:part element="nns:changeUserId" name="changeUserId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUser">
    <wsdl:part element="nns:insertUser" name="insertUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part element="nns:deleteUser" name="deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserInfoResponse">
    <wsdl:part element="nns:updateUserInfoResponse" name="updateUserInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeUserIdResponse">
    <wsdl:part element="nns:changeUserIdResponse" name="changeUserIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserResponse">
    <wsdl:part element="nns:insertUserResponse" name="insertUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserSql">
    <wsdl:part element="nns:updateUserSql" name="updateUserSql">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="nns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserSqlResponse">
    <wsdl:part element="nns:updateUserSqlResponse" name="updateUserSqlResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="userManageIntfcaeService">
    <wsdl:operation name="changeUserId">
      <wsdl:input message="nns:changeUserId" name="changeUserId">
    </wsdl:input>
      <wsdl:output message="nns:changeUserIdResponse" name="changeUserIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="nns:deleteUser" name="deleteUser">
    </wsdl:input>
      <wsdl:output message="nns:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUser">
      <wsdl:input message="nns:insertUser" name="insertUser">
    </wsdl:input>
      <wsdl:output message="nns:insertUserResponse" name="insertUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserInfo">
      <wsdl:input message="nns:updateUserInfo" name="updateUserInfo">
    </wsdl:input>
      <wsdl:output message="nns:updateUserInfoResponse" name="updateUserInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserSql">
      <wsdl:input message="nns:updateUserSql" name="updateUserSql">
    </wsdl:input>
      <wsdl:output message="nns:updateUserSqlResponse" name="updateUserSqlResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
